/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* move special fonts to HTML head for better performance */

/* custom template */
html, body {
  background: #C0DEED;
  height: 100%;
  font-family:'Open Sans',arial,sans-serif;
  text-shadow: 0.5px 0.5px grey;
}

.sign-up-form {
  text-align: center;
}

.av-load {
  margin-left: 45%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

aside {
  min-height: 200%;
  margin: 10px;
  text-align: center;
  color: white;
}

.side-profile {
  padding: 15px;
  text-align: center;
  border: 2px white solid;
  margin: 6%;
  background-color: white;
  opacity: 0.6;
  border-radius: 5%;
}

.side-profile:hover {
  opacity: 1;
}

#main1 {
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}


footer {
  text-align: center;
  margin-bottom: 2%;
  clear: both;
}

a {
  color: white;
}

li {
  display: inline-block;
}

aside#post-avatar.pull-left {
  width: 10%;
  /*background-color: green;*/
  float: left;
  display: inline-block;
}

div.col-sm-10 {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

.post-post {
  display: inline-block;
  float: right;
  margin-left: 5px;
  width: 85%;
}

.post-body li {
  color: white;
  letter-spacing:1px;
  font-size: 1.7rem;
}

.post-user li {
  font-size: 0.8rem;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-size:cover;
    background-attachment:fixed;
}



.divider {
  margin-top:32px;
}

.img-circle {
  border-radius: 50%;
}

#main {
  background-color:transparent;
}

#sidebar, #sidebar a {
  background: #C0DEED;
  background-color:transparent;
  text-shadow:1px 0 1px #888888;
}

#sidebar a.logo {
  display:block;
  padding:3px;
  background: #C0DEED;
  color:#777777;
  height:40px;
  width:40px;
  margin:15px;
  font-size:26px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 0;
}

.new-button {
  color: black;
  border: 2px solid white;
  text-align: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.new-button:hover {
  border: 4px solid #8EC1DA;
  text-align: center;
  width: 90%;
  border-radius: 5%;
}

.post-buttons {
  display: inline-block;
  float: right;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;
  }
  #sidebar a.logo {
    font-size:50px;
    height:75px;
    width:75px;
    margin-bottom:30px;
  }
}


/* bootstrap overrides */


h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.posts-header {
  /*margin-top: 55px;*/
  padding-top: 9px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
  color: white;
  font-size: 2rem;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}

.title {
  color: white;
  margin: 23px;
  font-size: 4rem;
  font-weight: 900;
}

.title:hover {
  font-weight:1200;
  font-size: 4.5rem;
}

nav {
  color: white;
  font-size: 1rem;
  margin: 25px;
  display: inline-block;
  float: right;
}

#awan {
  width:100%;
  height:100%;
  background: url(https://abs.twimg.com/images/themes/theme1/bg.png) center top repeat-x;
  animation: awan-animasi 65s linear infinite;
  -ms-animation: awan-animasi 65s linear infinite;
  -moz-animation: awan-animasi 65s linear infinite;
  -webkit-animation: awan-animasi 65s linear infinite;
}


@keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-webkit-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-ms-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-moz-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}