// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section .page-header {
	margin-top:15%;
}

section .posts {
	display: inline-block;
	width: 70%;
	float: left;
}

